### TRY AND EXCEPTION METHOD

## Q)1

In [1]:
try:
    val1=eval(input("Enter a number:"))
    val2=val1**2
    print("The square of {} is {}.".format(val1,val2))
    
except Exception as e:
    print(e)

Enter a number:5
The square of 5 is 25.

## Q)2

In [3]:
try:
    val1=eval(input("Enter the number:"))
    val2=2*val1
    val3=3*val1
    val4=4*val1
    val5=5*val1
    mul=val1*val2*val3*val4*val5
    print ('The multiplication of {}---{}---{}---{}---{}'.format(val1,val2,val3,val4,val5))
    
except Exception as e:
    print(e)

Enter the number:7
The multiplication of 7---14---21---28---35

## Q)3

In [5]:
try:    
    weight_kg=eval(input('enter the weight in kg:'))
    convert=weight_kg*2.2
    print('the weight_kg in pounds is {}'.format(convert))
except Exception as e:
    print(e)

enter the weight in kg:20
the weight_kg in pounds is 44.0

## Q)4

In [8]:
try:
    val1=eval(input("enter the 1:"))
    val2=eval(input("enter the 2:"))
    val3=eval(input("enter the 3:"))
    sum1=val1+val2+val3
    average=sum1/3
    print("The values of total and average {} sum is {}".format(sum1, average))
except Exception as e:
    print(e)

enter the 1:10
enter the 2:20
enter the 3:3
The values of total and average 33 sum is 11.0

## Q)5

In [10]:
try:
    price_meal= eval(input("Enter the price of meal: "))
    percent_tip= eval (input("Enter the percent tip: "))
    total_tipamt= price_meal*(percent_tip/100)
    total_bill= price_meal+total_tipamt
    print( "Total Tip amount: {}". format(total_tipamt))
    print( "Total Bill Amount: {}". format(total_bill))
except Exception as e:
    print(e)

Enter the price of meal: 2000
Enter the percent tip: 2
Total Tip amount: 40.0
Total Bill Amount: 2040.0

## Q)6

In [6]:
try:
    salary=eval(input('mani basic salary:-'))
    d=(40*salary)/100
    h=(20*salary)/100
    total_salary=salary+d+h
    print('The D.A of the basics salary:-{}'.format(d,h,total_salary))
    print('H.A of basic salary:-{}'.format(d,h,total_salary))
    print('mani gross salary {}'.format(d,h,total_salary))

except Exception as e:
    print(e)

mani basic salary:-8000
The D.A of the basics salary:-3200.0
H.A of basic salary:-3200.0
mani gross salary 3200.0

### Q)7

In [18]:
try:    
    distance_km=eval(input('enter the distance between two cities in km:-'))
    meters=distance_km*1000
    feet=distance_km*3280.84
    inches=distance_km*39370.1
    centimeters=distance_km*100000
    print('distance in meters',meters)
    print('distance in feets',feet)
    print('distance in inches',inches)
    print('distance in centimeters',centimeters)
except Exception as e:
    print(e)

enter the distance between two cities in km:-10
distance in meters 10000
distance in feets 32808.4
distance in inches 393701.0
distance in centimeters 1000000

In [5]:
try:
    convert=input('which do you want to convert:-')
    distance_km=eval(input('enter the distance between two cities in km:-'))
    if convert=='meter':
        print('the distance converts{} km into {}meters'.format(distance_km,distance_km*1000))
    elif  convert=='feet':
        print('the distance converts{} km into {}feets'.format(distance_km,distance_km*3280.84))
    elif  convert=='inches':
        print('the distance converts{} km into {}inches'.format(distance_km,distance_km*39370.1))
    elif  convert=='centimeters':
        print('the distance converts{} km into {}centimeters'.format(distance_km,distance_km*3280.84))
    else:
        print("error")
except Exception as e:
    print(e)

which do you want to convert:-centimeters
enter the distance between two cities in km:-10
the distance converts10 km into 32808.4centimeters

### Q)8

In [1]:
try:
    m1=eval(input('enter the marks 1:-'))
    m2=eval(input('enter the marks 2:-'))
    m3=eval(input('enter the marks 3:-'))
    m4=eval(input('enter the marks 4:-'))
    m5=eval(input('enter the marks 5:-'))
    total=m1+m2+m3+m4+m5
    per=total/5
    print('total marks:',total)
    print('percentage marks:',per)
    if per>=50:
        print('pass',per)
    else:
        print('fail')
except Exception as m:
    print(m)

enter the marks 1:-50
enter the marks 2:-95
enter the marks 3:-95
enter the marks 4:-95
enter the marks 5:-95
total marks: 430
percentage marks: 86.0
pass 86.0

## Q)9

In [6]:
try:
    temp_of_city=eval(input('enter the degree:-'))
    centigrade_degree=((temp_of_city-32)*5/9)
    print("Temperature of a city {} Fahrenheit degrees converted into{} Centigrade degrees".format(temp_of_city,centigrade_degree))
except Exception as m:
    print(m)

enter the degree:-20
Temperature of a city 20 Fahrenheit degrees converted into-6.666666666666667 Centigrade degrees

## Q)10

In [14]:
try:    
    length=eval(input('enter the length:-'))
    breadth=eval(input('enter the breadth:-'))
    circle=eval(input('enter the radius:-'))
    area=length*breadth
    parameter=2*(length,breadth)
    import math
    radius=math.pi*circle*circle
    parameter=2*math.pi*circle
    print('area of rectangular {} is  parameter{}'.format(area,parameter))
    print('area of circle {} is parameter{}'.format(area,parameter))
except Exception as m:
    print(m)

enter the length:-15
enter the breadth:-15
enter the radius:-15
area of rectangular 225 is  parameter94.24777960769379
area of circle 225 is parameter94.24777960769379

## Q)11

In [15]:
try:   
    c=input('enter the first name:-')
    d=input('enter the last name:-')
    print('enter the oringinal content:-{},{}'.format(c,d))
    print('enter the inter change content:-{},{}'.format(d,c))
except Exception as m:
    print(m)

enter the first name:-Mani
enter the last name:-kasu
enter the oringinal content:-Mani,kasu
enter the inter change content:-kasu,Mani

## Q)12

In [20]:
try:
    num=int(input('enter the value:-'))
    f=num%10
    d=(num//10)%10
    c=(num//100)%10
    b=(num//1000)%10
    a=(num//10000)%10
    print('reverse number',(f,d,c,b,a))
except Exception as m:
    print(m)

enter the value:-12345
reverse number (5, 4, 3, 2, 1)

## Q)13

In [25]:
try:
    num=int(input('enter the value:-'))
    d=num%10
    c=(num//10)%10
    b=(num//100)%10
    a=(num//100)%10
    print('the addition of first {} and last number {} is {}'.format(d,a,d+a))
except Exception as m:
    print(m)

enter the value:-9876
the addition of first 6 and last number 8 is 14

## Q)14

In [32]:
try:
    total=eval(input('enter total population in town:-'))
    men=(52/100)*total
    wmen=total-men
    lit=(48/100)*total
    litm=(35/100)*total
    litwo=lit-lit
    illitwmen=wmen-litwo
    print('women in the town:',wmen)
    print('total illiterate men of the twom is',round(men-litm))
    print('illiterate women is',round(illitwmen))
except Exception as m:
    print(m)

enter total population in town:-20000
women in the town: 9600.0
total illiterate men of the twom is 3400
illiterate women is 9600

## Q)15

In [36]:
try:    
    amount=int(input('please enter amount for withdrawl:'))
    hundred=amount//100
    fifty=(amount%100)//50
    tens=((amount%100)%50)//10
    rem=((amount%100)%50)%10
    print('required no of notes in hundred is:',hundred)
    print('required no of notes in fiftys is:',fifty)
    print('required no of notes in tensis:',tens)
    print('remaning change is:',rem)
except Exception as m:
    print(m)

please enter amount for withdrawl:105388
required no of notes in hundred is: 1053
required no of notes in fiftys is: 1
required no of notes in tensis: 3
remaning change is: 8

In [ ]:
# im modifing the coded